# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python <br>
2. R <br>
3. SQL <br>
4. Scala <br>
5. Java <br>
6. C++ <br>
7. Julia <br>
8. JavaScript <br>
9. PHP <br>
10. Go <br>
11. Ruby <br>
12. Visual Basic

Some of the common libraries used by Data Scientists include:
1. Scientific Computing: Pandas, NumPy
2. Visualization: Matplotlib, Seaborn
3. High-Level-Machine Learning and Deep Learning: Scikit-learn, Keras
4. Deep Learning - TensorFlow, PyTorch
5. Others: Spark, Vegas, BigDL, ggplot2

| Data Science Tools |
| ------------------ |
| MySQL |
| PostgreSQL | 
| MongoDB | 
| Apache CouchDB |

### Below are a few examples of evaluating arithmetic expressions in Python:
3 + 5 <br>
4 / 9 <br>
72 * 7 <br>
90 - 12 <br>

In [7]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

**Objectives**
- List popular languages for Data Science
- List common libraries for Data Science
- Show a few examples of arithmetic expressions

## Author
Christian Jay C. Domingo